body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    background-color: #f4f4f4;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#enervant{
    position: absolute;
    top: 0px;
    left: 0px;
}

#drop-down{
    float: right;
}

header {
    background: #5C9FC4;
    color: #ffffff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #05476B 2px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}


header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header #branding img {
    width: 100px;
}

header nav {
    float: right;
    margin-top: 30px;
}

header .highlight, header .current a {
    color: #05476B;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    margin-bottom: 20px;
    background: url("../images/logo-test.png") no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 45%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 100px;
}

#boxes .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

footer {
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #5C9FC4;
    text-align: center;
}

/* Background of the pop up box */
.popUpBox {
    display: none; /* Hidden till the button is pressed */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Puts focus on the box */
    padding-top: 60px;
}

/* Content of the pop up box*/
.popUpBoxContent {
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid gray;
    width: 35%;
}

.boxLower{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#login input[type=text], #login input[type=password], 
#addBox input[type=text], #addBox input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#formular input[type=text], #formular input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

button {
    background-color: #1872a4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.7;
}

.cancelButton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add zoom animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.formular {
    text-align: center;
    margin: 50px auto 0;
    padding-right: 20px;
    padding-left: 20px;
    border: 10px;
}

#formular{
    padding-right: 15%;
    padding-left: 15%;
}

.createFormular {
    background-color: white;
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid gray;
    border-radius: 10px;
}

.dropdown{
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.dropdown-button{
    background-color: #05476B;
    margin: unset;
    padding: unset;
    width: 200px;
    height: 40px;
    font-size: 15px;
}

.dropdownContent{
    position: absolute;
    display: none;
    width: 200px;
    height: 80px;
    background-color: #05476B;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.dropdownContent a {
    color: white;
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

#leftMenu {
    display: flex;
    flex-flow: column wrap;
    float: left;
    width: 10%;
    height: 100vh;
    background-color: #88959E;
}

#leftMenu ul {
    padding: 10% 0 0 10%;
    list-style: none;
}

#leftMenu ul a {
    font-size: 18px;
    text-decoration: none;
    color: #5C9FC4;
}

#leftMenu ul a:hover {
    text-decoration: none;
    color: #05476B;
}

#rigthBox {
    float: right;
    width: 90%;
}

#addButton {
    text-align: center;
    font-size: 20px;
    position: fixed;
    background-color: white;
    color: black;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #05476B;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

#addButton:hover {
    background-color: #05476B;
    color: white;
}

.leftMenuButton {
    background-color: initial;
}

#logBut{
    display: flex;
    justify-content: center;
}
.custom-select {
    position: relative;
    font-family: Arial;
    display: flex;
    justify-content: end;
}
  
.custom-select select {
    display: none;
}

.passItems ul{
    position: relative;
    margin: 10px auto 0;
    padding: 20px;
}

.passItems ul li{
    display: flex;
    height: 25px;
    background: rgba(75, 74, 74, 0.1);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    margin: 5px 0;
    transition: .5s;
}
.passItems ul li span:nth-child(1)
{
    width: 10%;
}
.passItems ul li span:nth-child(2)
{
    width: 80%;
}
.passItems ul li:hover
{
    opacity: 0.5;
}